<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<title>Login table</title>
<body class="row mt-5">

<form  class="ol-6 mx-auto"  action="/login" method="post" role="form">

    <div class=" mx-auto my-5 "  style="width: 300px;">

        <label ><h3>Please sign in</h3></label>
        <input type="text" id="login" name="username"  class="form-control " placeholder="User name">

        <input type="password"  id="password" name="password" class="form-control" placeholder="Password">

        <button type="submit"  class="btn btn-primary my-2  btn-block signIn">Sign in</button>
    </div>

</form>
</body>
</html>